<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="a" value="5"/>
    <parameter name="b" value="4"/>
    <test name="Test" parallel="methods">
        <classes>
            <class name="ParametersinTestng.Sum"/>
            <class name="ParametersinTestng.Subtract"/>
            <class name="ParametersinTestng.Multiply"/>
        </classes>
    </test>
</suite>
